__pycache__/
*.py[cod]
.env
.venv/
*.egg-info/
.codex-gitconfig
cache/
out/
broadcast/
data/
data;C/
dev-data/
genesis.json;C/
.vscode/

network/besu/build/
network/besu/keys/
network/besu/logs/
network/besu/.env
network/besu/genesis/genesis.json
!network/besu/nodes/*/data/
network/besu/nodes/*/data/*
!network/besu/nodes/*/data/.gitkeep
network/besu/monitoring/prometheus/data/
network/besu/monitoring/grafana/data/

**/key
**/key.pub
**/nodekey
**/nodekey.pub
